version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: uas_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - '${MYSQL_PORT}:3306'
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - uas_network

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: uas_phpmyadmin
    restart: always
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      PMA_USER: ${PMA_USER}
      PMA_PASSWORD: ${PMA_PASSWORD}
    ports:
      - '${PHPMYADMIN_PORT}:80'
    depends_on:
      - mysql
    networks:
      - uas_network

volumes:
  mysql_data:

networks:
  uas_network:
    driver: bridge
